<a href="https://colab.research.google.com/github/helloghostt/modu/blob/main/20240111_day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- repo 정리 - 파일 이름은 날짜로
- 함수이름은 변수다
- lambda
- pass
- built - in functions
 - 문법공부말고 문제를 풀어보세요 cheat sheet
 - python어디까지 해야할까 프로젝트 가능한데까

In [ ]:
def hello():
    '''
    python docstring
    주석은 여기 답니다.
    '''
    pass

In [ ]:
print(type(hello)) # 함수도 class 입니다

In [ ]:
a = 10
#a는 int에 인스턴스

In [ ]:
print('hello world') # print is built-in function

In [1]:
l = [print, print, print]
l[2]

In [ ]:
l = [print, print, print]
l[2]('hello world') # hello world

#2. lambda

In [ ]:
add = lambda x, y: x+y # 어려운 코드의 경우 예제를 30개 정도 만들어서 해보기
#lambda x: x **2
#lambda x, y:x+y ...

In [2]:
#lambda+3항 연산자 많이 사용합니다.
x =10
y = True if x % 2 == 0 else false
print(y)  # true

True

In [ ]:
def 제곱(x):     # 재사용하려
    return x ** 2
list(map(제곱, [1, 2, 3, 4]))

In [ ]:
list(map(lambda x: x**2, [1, 2, 3, 4]))  #재사용 불가 but가독성은 좋음
# list(map(lambda x: True if x % 2 == 0 else false, [1, 2, 3, 4]))

In [ ]:
for i in range(2, 31):
    if 101 % i == 0:
        print('소수아님')
        break
else:
     print('소수')

In [ ]:
#filter : print only trues
list(filter((lambda x: x % 2 ==0,range(100)))
list(filter((lambda x: x % 3 ==0,range(100)))
list(filter((lambda x: x > 50 and x <80,range(100)))
list(filter(lambda x: True if x % 3 == 0 or x % 5 == 0 else False, range(100)))

In [ ]:
# list(filter(lambda x: x % 2 == 0, range(100)))
list(filter(lambda x: x % 2, range(100))) # 홀수를!?

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# x == 0일때 => lambda x: x % 2 => 0 => False로 평가!
# x == 1일때 => lambda x: x % 2 => 1 => True로 평가!
# x == 2일때 => lambda x: x % 2 => 0
# x == 3일때 => lambda x: x % 2 => 1
# x == 4일때 => lambda x: x % 2 => 0
# x == 5일때 => lambda x: x % 2 => 1
# x == 6일때 => lambda x: x % 2 => 0

#3. sorted
자주 사용하지는 않습니다. 원본을 변경시키기 때문입니다. but 시험은 꼭 나옴(최댓값, 최솟값- 나열한 후 마지막값 추출)

key, reverse옵션을 정말정말 많이 사용합니다.
알고리즘 문제에서 단골 문제이고,

# https://school.programmers.co.kr/learn/courses/30/lessons/120835

# https://codingdojang.com/scode/408?answer_mode=hid

In [ ]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
l.sort()

In [ ]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
sorted(i)

In [7]:
# 아래와 같은 형식으로 반별 점수가 주어진다고 하겠습니다.

반별점수 = [
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
]

In [8]:
반별점수 = [
    ['홍길동', 30, 55, 22],
    ['홍춘향', 55, 60, 73],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]
sorted(반별점수)  # 0번째 순서대로 이름-한글아니고 유니코드표 순서대로

[['이철수', 32, 65, 68],
 ['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73]]

In [16]:
sorted(반별점수, key = lambda x: x[2]) # 1: 국어점수로 2: 영어점수로

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [19]:
# 문제: 국, 영, 수 평균 점수대로 출력해주세요!
sorted(반별점수, key = lambda x: x[1]+x[2]+x[3]) #평균점수대로 출력
sorted(반별점수, key = lambda x: x[1]+x[2]+x[3], reverse = True)

[['이호준', 92, 11, 95],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68],
 ['홍길동', 30, 55, 22]]

In [20]:
반별점수 = [
['홍길동', 50, 50, 50],
['이철수', 45, 50, 55],
['홍춘향', 60, 35, 75],
['이호준', 92, 11, 95]]

 # 문제: 국, 영, 수 평균 점수대로 출력해주세요! 같다면 수학점수가 높으니 앞에 두겠다는 얘기입니다

sorted(반별점수, key = lambda x: (x[1]+x[2]+x[3], x[3]), reverse = True)  #tuple 순서대로 가중치를 줌

[['이호준', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['이철수', 45, 50, 55],
 ['홍길동', 50, 50, 50]]

In [21]:
# 만약에 평균도 같고 수학 점수도 같은 경우 이름 가나다순으로 정렬하고 싶다면 어떤 방법
sorted(반별점수, key=lambda x: (x[1] + x[2] + x[3], x[3], x[0]), reverse=True)

[['이호준', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['이철수', 45, 50, 55],
 ['홍길동', 50, 50, 50]]

In [22]:
우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

# sorted(우편번호) #error, 비교를 할 수 없다!?
sorted(우편번호, key=lambda x: x['우편번호'])

# 우편번호 = [
#     {
#         '주소': '경기도 용인시',
#         '우편번호': 321
#     }, => 321
#     {
#         '주소': '경기도 수원시',
#         '우편번호': 355
#     }, => 355
#     {
#         '주소': '제주특별자치도 제주시',
#         '우편번호': 333
#     } => 333
# ]

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [31]:
# 다음 입사문제
# 직선에 있는 점의 좌표입니다
# 점과 점 사이가 가장 짧은 점의 쌍을 출력하세요
s = [1, 3, 4, 8, 13, 17, 20]
s[1:]

[3, 4, 8, 13, 17, 20]

In [ ]:
list[zip(s, s[1:])]

In [33]:
sorted(x, key = lambda x: x[1]-x[0])
sorted(x, key = lambda x: x[1]-x[0])[0]

TypeError: 'int' object is not iterable

In [24]:
list(zip('hello', 'world'))  #심화과정에서 다룰 내용임

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

In [25]:
list(enumerate(zip('hello', 'world'))) #심화과정에서 다룰 내용임

[(0, ('h', 'w')),
 (1, ('e', 'o')),
 (2, ('l', 'r')),
 (3, ('l', 'l')),
 (4, ('o', 'd'))]

In [28]:
# generator 심화과정에서 다룰 내용임
def gen():
    i = 1
    while True:
        yield i
        i+=1

list(zip(gen(),'hello', 'world'))

[(1, 'h', 'w'), (2, 'e', 'o'), (3, 'l', 'r'), (4, 'l', 'l'), (5, 'o', 'd')]