<a href="https://colab.research.google.com/github/helloghostt/modu/blob/main/20240104_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#논리연산

In [ ]:
# 1.1. and 연산자
print(True and True)   # 결과: True
print(True and False)  # 결과: False
print(False and True)  # 결과: False
print(False and False) # 결과: False

In [ ]:
# 1.2. or 연산자
print(True or True)   # 결과: True
print(True or False)  # 결과: True
print(False or True)  # 결과: True
print(False or False) # 결과: False

In [ ]:
# 1.3 not 연산자
print(not True)  # 결과: False
print(not False) # 결과: True

In [ ]:
num = 15
result = num > 10 and num < 20
print(result) # 결과: True

In [ ]:
for i in range(101): # 0부터 100까지를 반복합니다.
    if i % 3 == 0 and i % 5 == 0:
        print(i)

In [1]:
# 3.1 and 연산자의 단락 평가    # 앞에서 False로 확정이 되면 뒤에 함수를 호출하지 않습니다.
def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True
#가장 많이 걸러지는 연산을 앞에 둬야 빨라진다.
result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

In [3]:

lst = []  # lst가 빈 리스트이므로 lst[0]은 IndexError를 발생시킬 수 있습니다.
if lst and lst[0] > 3:    #하지만 단락 평가 덕분에 lst가 빈 리스트일 때는 lst[0] > 3 부분이 평가되지 않아 오류를 피할 수 있습니다.
    print("리스트의 첫 번째 원소는 3보다 큽니다.")

In [ ]:
# 3.2 or 연산자의 단락 평가

In [ ]:
a = 'hello'
b = ''

a or b # 출력: 'hello'

In [ ]:
a = 'hello'
b = 'world'

a or b # 출력: 'hello'

# 할당 연산
//= ,
-= ,
**= ,
*= ,
+= ,
%= ,
/= ,
= ,

In [7]:
x = 5
y = 2
z = 10

x //= y  # y * z 연산 후 x에 값을 할당합니다.
print(x)

2

# 식별연산(is 구문, id)

In [9]:
coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)

True
True

In [10]:
id(coffee_employee)

136948897256688

In [11]:
#-5~256 같은 주소를 바라고 있지만 그 범위 이하 이상일 때는 주소가 달라진다.
coffee_employee = 1000
orange_employee = 1000

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)

False
True

In [12]:
a = [1, 2, 3] #a와b는 다른 id값 갖는다
b = [1, 2, 3]
c = a

print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)

a == b True
a == c True
a is b False
a is c True

In [13]:
print(id(a),id(b), id(c))

136948897267648 136948895187456 136948897267648

In [15]:
x = [1, 2, 3]
y = x
z = [1, 2, 3]
print(x is y)  # True입니다. 왜냐하면 둘 다 동일한 객체를 참조하고 있기 때문입니다.
print(x is z)  # False입니다. 왜냐하면 둘은 서로 다른 객체를 참조하고 있기 때문입니다.

True
False

In [17]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)

False

# 멤버연산(in 구문)

In [ ]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

print(1 in a) # 출력: True
print(0 not in a) # 출력: True

print([2] in b) # 출력: False
print([1, 2] in b) # 출력: False

print('h' in c) # 출력: True
print('hello ' in c) # 출력: True

# 연산과 연산자 우선순위
![image.png]()

# 연습문제

In [28]:
#1번
a = 100
print((a > 100) and (a < 200)) # f&t=f
print((a > 100) or (a < 200)) # f^t=t
print((a >= 100) and (a <= 200)) # t&t=t
print((a >= 100) or (a <= 200)) #t^t=t

False
True
True
True

In [29]:
#2번
b = 25
(b % 2 == 0) and (b % 5 == 0) #f&t=f

False

In [31]:
#3번 변수 c 안에 들어있는 가격을 100원짜리 몇개로 거슬러 줄 수 있는지 출력해주세요
c = 1000
c//100

10

In [4]:
#4번 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.
money = int(input("금액을 입력해주세요: " ))
num_5000 = money // 5000  #5000원권 장수
money -= num_5000 * 5000
num_1000 = money // 1000 #1000원권 장수
money -= num_1000 * 1000
num_500 = money // 500  #500원 개수
money -= num_500 * 500
num_100 = money // 100  #100원 개수

print(f"5000원의 개수는 ", num_5000, "개 입니다.")
print(f"1000원의 개수는 ", num_1000, "개 입니다.")
print(f"500원의 개수는 ", num_500, "개 입니다.")
print(f"100원의 개수는 ", num_100, "개 입니다.")

금액을 입력해주세요: 7600
5000원의 개수는  1 개 입니다.
1000원의 개수는  2 개 입니다.
500원의 개수는  1 개 입니다.
100원의 개수는  1 개 입니다.

실습문제1번

In [36]:
'''
1. 사용자 입력받기: input()으로 제품 원가와 할인율입력받기
2. 문자열을 숫자로 변환: float()
3. 할인된 가격 계산 :  할인된 가격 = 원가-(원가*할인율/100)
4. 결과 print()

'''
original_price = float(input("제품의 원가를 입력하세요: "))
discount_rate = float(input("제품의 할인율을 입력하세요: "))

제품의 원가를 입력하세요: 1000
제품의 할인율을 입력하세요: 10

In [39]:
discounted_price =  original_price - (original_price * discount_rate / 100)

In [44]:
print(f"할인된 가격은 {int(discounted_price)}원입니다.")

할인된 가격은 900원입니다.

#실습문제2번

In [67]:
#1.사용자 입력 받기:
#input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.
name = input("이름을 입력하세요 : ")
age = input("나이를 입력하세요 : ")

이름을 입력하세요 : 가나다
나이를 입력하세요 : 30

In [69]:
#2.문자열을 숫자로 변환:
#입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.
age_int = int(age)

In [70]:
#3.산술 연산 수행:
#변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.
age_int += 1

In [71]:
#4.문자열 길이 계산:
#len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.
len(name)

3

In [72]:
#5.성인 여부 판단:
#나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다. (예: 18세 이상이면 True, 그렇지 않으면 False)
adult = age_int >= 18

In [73]:
#6.결과 출력:
#계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.
print(f"다음 해에는 {age_int}세가 되실 것입니다.")
print(f"입력한 이름의 길이는 {len(name)}자 입니다.")
print(f"성인 여부: {adult}")

다음 해에는 31세가 되실 것입니다.
입력한 이름의 길이는 3자 입니다.
성인 여부: True

In [74]:
#3번 문제 코드만 모음
name = input("이름을 입력하세요 : ")
age = input("나이를 입력하세요 : ")
age_int = int(age)
age_int += 1
len(name)
adult = age_int >= 18
print(f"다음 해에는 {age_int}세가 되실 것입니다.")
print(f"입력한 이름의 길이는 {len(name)}자 입니다.")
print(f"성인 여부: {adult}")
'''
gpt가 축약
name = input("이름을 입력하세요: ")
age = int(input("나이를 입력하세요: ")) + 1

print(f"다음 해에는 {age}세가 되실 것입니다.")
print(f"입력한 이름의 길이는 {len(name)}자 입니다.")
print(f"성인 여부: {age >= 18}")
'''

이름을 입력하세요 : 가나다
나이를 입력하세요 : 50
다음 해에는 51세가 되실 것입니다.
입력한 이름의 길이는 3자 입니다.
성인 여부: True

# 시퀀스 자료형

In [7]:
# 1.1. 인덱싱 (Indexing) 01234
example = 'abcde'
print(example[0]) # 출력: a
print(example[2]) # 출력: c
print(example[-1]) # 출력: e

a
c
e

In [8]:
# 1.2. 슬라이싱 (Slicing)
example = 'abcde'
print(example[1:3]) # 출력: bc  1~2
print(example[-4:-1]) # bcd
range(10)[3] # 출력: 3
range(100)[::5] # 출력: range(0, 100, 5)

bc

range(0, 100, 5)

In [9]:
example = 'abcde'
print('a' in example) # 출력: True
print('z' in example) # 출력: False

True
False

In [10]:
example1 = 'abcde'
example2 = 'f'
print(example1 + example2) # 출력: abcdef
print(example2 * 3)        # 출력: fff

abcdef
fff

In [ ]:
example = 'abcde'
print(len(example))  # 출력: 5
print(min(example))  # 출력: a
print(max(example))  # 출력: e
#count(), index()

시퀀스 자료형의 패킹과 언패킹

In [14]:
# 튜플 패킹
packed_tuple = 1, 2, 3, 4
print(packed_tuple)  # 출력: (1, 2, 3, 4)
a, c,  b, d = packed_tuple  # 순서대로 들어감
print(a)  # 출력: 1
print(b)  # 출력: 3
print(c)  # 출력: 2

(1, 2, 3, 4)
1
3
2

In [ ]:
a, b, c = range(3) #0,1,2  0에서 n-1까지 숫자 생성
a # 출력: 0

In [15]:
a, b, c, d, e = 'hello'
a # 출력: h

'h'

In [16]:
a, b = [10, 20]
a # 출력: 0

10

In [20]:
total_sum = 0
for i in range(5): #0,1,2,3,4
    total_sum += i
    print(total_sum)
print(total_sum)

0
1
3
6
10
10

In [17]:
for i, j in [[10, 20], [100, 200]]:
    print(i, j)

10 20
100 200

In [21]:
first, *middle, last = [1, 2, 3, 4, 5]
print(first)    # 출력: 1
print(middle)   # 출력: [2, 3, 4]
print(last)     # 출력: 5

'''
first, *middle [1, 2, 3, 4, 5]
print(first)    # 출력: 1
print(middle)   # 출력: [2, 3, 4, 5]
'''
'''
*middle, first = [1, 2, 3, 4, 5]
print(first)    # 출력: 5
print(middle)   # 출력: [1, 2, 3, 4]

'''

1
[2, 3, 4]
5

# 1. 리스트(List)란

In [ ]:
x = [1, 2, 3]
y = ['apple', 'banana', 'cherry']
z = [1, [2], 3] in 2

In [ ]:
#리스트의 장점
z = [1, 'apple,', 2.5, ['a','b'],(1,2)]
print(z[0])

In [ ]:
z = [
		1,
		'apple',
		2.5,
		['a', 'b'],
		(1, 2)
]
print(z[0])

In [ ]:
z = [
		1,
		'apple',
		2.5,
		['a', 'b'],
		(1, 2),
]
print(z[0])

In [23]:
#2.2 리스트 값 수정
a = [1,2,3,4,5]
a[0]=10000
print(a)

[10000, 2, 3, 4, 5]

In [ ]:
s = 'licat'
print(s[0])
s[0] = 'k' # 출력 TypeError: 'str' object does not support item assignment

In [26]:
b = [[10, 20, 30], [1, 2, 3]]
print(b[1][2]) # 출력: 3

3

In [28]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
from re import L
import numpy as np

l = [1, 2, 3]
l = np.array(l)
print(l)
print(l * 3)
print(l + l)    # 너무 당연하게 요소를 붙이는 것이다라고 생각하지 않으셨으면 좋겠습니다.

[1 2 3]
[3 6 9]
[2 4 6]

In [ ]:
x = [1]
print(x * 3) # 출력: [1, 1, 1]

In [ ]:
a = [1, 2, 3]
a = a * 3

a[0] = 1000
print(a)   #[1000, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a = [1, 2, 3]
a = [a * 2] * 2 # 리스트 컴프리헨션 사용하셔서 만드시는 것을 권합니다.

print(a)
print(id(a[0]), id(a[1]))
a[0][0] = 10000
print(a)

In [ ]:
[[1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3]]
136783650416896, 136783650416896
[[10000, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3]]

In [ ]:
# 2.2 리스트 인덱싱
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

In [ ]:
lst = [1, 2, 3, 4, 5]
print(lst[10])  # 출력 IndexError: list index out of range

In [37]:
l = [1, 2, 3, 4, 5]
print(l[1:4])   # 출력: [2, 3, 4]

[2, 3, 4]

In [33]:
l = [1, 2, 3, 4, 5]
print(l[:])     # 출력: [1, 2, 3, 4, 5]
print(l[::-1])  # 출력: [5, 4, 3, 2, 1]
print(l[::2])   # 출력: [1, 3, 5]
print(l[0:4][::-1]) # 출력: [4, 3, 2, 1]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]
[4, 3, 2, 1]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[10:20]) # 출력: []

In [ ]:
my_list = [1, 2, 'apple', 3.14]