<a href="https://colab.research.google.com/github/helloghostt/modu/blob/main/20240111_day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- repo 정리 - 파일 이름은 날짜로
- 함수이름은 변수다
- lambda
- pass
- built - in functions
- match
- class
 - 문법공부말고 문제를 풀어보세요 cheat sheet
 - python어디까지 해야할까 프로젝트 가능한데까지

In [ ]:
def hello():
    '''
    python docstring
    주석은 여기 답니다.
    '''
    pass

In [ ]:
print(type(hello)) # 함수도 class 입니다

In [ ]:
a = 10
#a는 int에 인스턴스

In [ ]:
print('hello world') # print is built-in function

In [1]:
l = [print, print, print]
l[2]

In [ ]:
l = [print, print, print]
l[2]('hello world') # hello world

#2. lambda

In [ ]:
add = lambda x, y: x+y # 어려운 코드의 경우 예제를 30개 정도 만들어서 해보기
#lambda x: x **2
#lambda x, y:x+y ...

In [2]:
#lambda+3항 연산자 많이 사용합니다.
x =10
y = True if x % 2 == 0 else false
print(y)  # true

True

In [ ]:
def 제곱(x):     # 재사용하려
    return x ** 2
list(map(제곱, [1, 2, 3, 4]))

In [ ]:
list(map(lambda x: x**2, [1, 2, 3, 4]))  #재사용 불가 but가독성은 좋음
# list(map(lambda x: True if x % 2 == 0 else false, [1, 2, 3, 4]))

In [ ]:
for i in range(2, 31):
    if 101 % i == 0:
        print('소수아님')
        break
else:
     print('소수')

In [ ]:
#filter : print only trues
list(filter((lambda x: x % 2 ==0,range(100)))
list(filter((lambda x: x % 3 ==0,range(100)))
list(filter((lambda x: x > 50 and x <80,range(100)))
list(filter(lambda x: True if x % 3 == 0 or x % 5 == 0 else False, range(100)))

In [ ]:
# list(filter(lambda x: x % 2 == 0, range(100)))
list(filter(lambda x: x % 2, range(100))) # 홀수를!?

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# x == 0일때 => lambda x: x % 2 => 0 => False로 평가!
# x == 1일때 => lambda x: x % 2 => 1 => True로 평가!
# x == 2일때 => lambda x: x % 2 => 0
# x == 3일때 => lambda x: x % 2 => 1
# x == 4일때 => lambda x: x % 2 => 0
# x == 5일때 => lambda x: x % 2 => 1
# x == 6일때 => lambda x: x % 2 => 0

#3. sorted
자주 사용하지는 않습니다. 원본을 변경시키기 때문입니다. but 시험은 꼭 나옴(최댓값, 최솟값- 나열한 후 마지막값 추출)

key, reverse옵션을 정말정말 많이 사용합니다.
알고리즘 문제에서 단골 문제이고,

# https://school.programmers.co.kr/learn/courses/30/lessons/120835

# https://codingdojang.com/scode/408?answer_mode=hid

In [ ]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
l.sort()

In [ ]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
sorted(i)

In [7]:
# 아래와 같은 형식으로 반별 점수가 주어진다고 하겠습니다.

반별점수 = [
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
]

In [8]:
반별점수 = [
    ['홍길동', 30, 55, 22],
    ['홍춘향', 55, 60, 73],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]
sorted(반별점수)  # 0번째 순서대로 이름-한글아니고 유니코드표 순서대로

[['이철수', 32, 65, 68],
 ['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73]]

In [16]:
sorted(반별점수, key = lambda x: x[2]) # 1: 국어점수로 2: 영어점수로

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [19]:
# 문제: 국, 영, 수 평균 점수대로 출력해주세요!
sorted(반별점수, key = lambda x: x[1]+x[2]+x[3]) #평균점수대로 출력
sorted(반별점수, key = lambda x: x[1]+x[2]+x[3], reverse = True)

[['이호준', 92, 11, 95],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68],
 ['홍길동', 30, 55, 22]]

In [20]:
반별점수 = [
['홍길동', 50, 50, 50],
['이철수', 45, 50, 55],
['홍춘향', 60, 35, 75],
['이호준', 92, 11, 95]]

 # 문제: 국, 영, 수 평균 점수대로 출력해주세요! 같다면 수학점수가 높으니 앞에 두겠다는 얘기입니다

sorted(반별점수, key = lambda x: (x[1]+x[2]+x[3], x[3]), reverse = True)  #tuple 순서대로 가중치를 줌

[['이호준', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['이철수', 45, 50, 55],
 ['홍길동', 50, 50, 50]]

In [21]:
# 만약에 평균도 같고 수학 점수도 같은 경우 이름 가나다순으로 정렬하고 싶다면 어떤 방법
sorted(반별점수, key=lambda x: (x[1] + x[2] + x[3], x[3], x[0]), reverse=True)

[['이호준', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['이철수', 45, 50, 55],
 ['홍길동', 50, 50, 50]]

In [22]:
우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

# sorted(우편번호) #error, 비교를 할 수 없다!?
sorted(우편번호, key=lambda x: x['우편번호'])

# 우편번호 = [
#     {
#         '주소': '경기도 용인시',
#         '우편번호': 321
#     }, => 321
#     {
#         '주소': '경기도 수원시',
#         '우편번호': 355
#     }, => 355
#     {
#         '주소': '제주특별자치도 제주시',
#         '우편번호': 333
#     } => 333
# ]

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [31]:
# 다음 입사문제
# 직선에 있는 점의 좌표입니다
# 점과 점 사이가 가장 짧은 점의 쌍을 출력하세요
s = [1, 3, 4, 8, 13, 17, 20]
s[1:]

[3, 4, 8, 13, 17, 20]

In [ ]:
list[zip(s, s[1:])]

In [37]:
sorted(x, key = lambda x: x[1]-x[0])
sorted(x, key = lambda x: x[1]-x[0])[0]

TypeError: 'int' object is not iterable

In [24]:
list(zip('hello', 'world'))  #심화과정에서 다룰 내용임

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

In [25]:
list(enumerate(zip('hello', 'world'))) #심화과정에서 다룰 내용임

[(0, ('h', 'w')),
 (1, ('e', 'o')),
 (2, ('l', 'r')),
 (3, ('l', 'l')),
 (4, ('o', 'd'))]

In [28]:
# generator 심화과정에서 다룰 내용임
def gen():
    i = 1
    while True:
        yield i
        i+=1

list(zip(gen(),'hello', 'world'))

[(1, 'h', 'w'), (2, 'e', 'o'), (3, 'l', 'r'), (4, 'l', 'l'), (5, 'o', 'd')]

In [ ]:
# 실제 Django에서 사용하는 코드

class Notice:
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
       '''
       repr이라는 값은 제가 임의로 만든 값이 아닙니다!
       정해져 있는 이름입니다.
       '''
    def __len__(self):
        '''
        len이라는 값은 제가 임의로 만든 값이 아닙니다!
        정해져 있는 이름입니다.
        '''
         # return 100
        return len(self.title + self.contents)

게시물1 = Notice('파이썬 이렇게 어려운줄 몰랐다!', '내가 알던 파이썬이 아니야...')
게시물2 = Notice('Django는 이렇게 재미있을 줄 몰랐다!', '파이썬을 잘 못해서 내가 할 수 있을까 생각이 들었는데...')
len(게시물1)

In [39]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1))) # 시작값 넣는 것 많이 사용합니다. 기억해두세요.

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]

In [ ]:
list(reversed([1,2,3,4,5]))

In [ ]:
reversed([1,2,3,4,5]

In [40]:
sorted([1,2,3,4,5])
sorted((1,2,3,4,5))
#왜 sorted만 자료형으로 주나요?
# reversed나 ma,filter나 이런건 모두 메모리 주소를 가리키는데?
# => 심화과정 (메모리의 효율성 때문) sorted만 비효율을 감수하고 사용자가 보기 편한 자료형으로 반환

[1, 2, 3, 4, 5]

#match
3.10에서 나온 문법이기 때문에 현업에서 거의 사용못합니다.

In [41]:
# 제가 반대하는 이유
# 타 언어에 비해서 불편한 점
요일 = 3
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')

수요일

In [ ]:
# 요일 = 4
# match 요일:
#     case 0:
#         print('일요일')
#     case 1:
#         print('월요일')
#     case 2:
#         print('화요일')
#     case 3: # 다른 언어에서는 이 문법이 가용합니다.
#     case 4:
#         print('목요일')
#     case 5:
#         print('금요일')
#     case 6:
#         print('토요일')

In [42]:
text = '1'
match text:
    case '1' | '2':
        print('1, 2')
    case _:
        print('No Match')

1, 2

In [ ]:
def 요일반환(요일):
    return{
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일'
    }

# class
이론을 보기보다는 chatgpt에게 여러개의 클래스를 추천받고, 짜달라고 해서 그것을 타이핑 해보기를 추천 - 많이 만들어봐라

- class 클래스 이름 => 인스턴스
- class Post => 게시물1, 게시물2, 게시물3
- class Dot => 점1, 점2, 점3
- class Matrix => 행렬1, 행렬2,...
- class User => 유저1, 유저2,...
- class Cart => cart1, cart2,...
- class Comment => 댓글1, 댓글2 ...
- class Character
- class Product
- class Teacher

In [ ]:
왜 이걸 딕셔너리로 만들지않고 클래스로 만들었나요?
재사용성+확장성

0.1 클래스 꼭 사용해야하나요?
일부 자료형에서는 클래스는 꼭 사용해야 합니다.

아래와 같이 저장한다고 문제가 생기나요?
데이터의 양(속도) 확장성, 다양성, 자료의 형태
기본 클래서(리스트, 튜플,딕셔너리,셋)은 매우 느립니다

제목:python 기초
저자: 이호준

{'제목':'python 기초','저자':'이호준'}

In [ ]:
class 우편본호:
    제주도 = 100
    경기도 = 101
    전자북도 = 102
    전라남도 = 103

우편번호.제주도
# 왜 이걸 딕셔너리로 만들지 않고 class로 만들었나요?
# 재사용성 + 확장성

In [50]:
# in_created_at 스테이크 표기법
# inCreatedAt 카멜 표기법 : 자바
# InCreatedAt 파스칼 표기 : 파이썬 클래스
class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=0,
            in_crerate_at='',
            in_updated_at='',
            in_author=''
        ):
        self.title = in_title
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_crerate_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __add__(self):
        pass

    def __len__(self):
        pass

    def update(self):
        pass

    def delete(self):
        pass


# in_title='',
# in_contents='',
# in_count=0,
# in_crerate_at='',
# in_updated_at='',
# in_author=''

게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고, 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
)

print(게시물1)
print(게시물1.title)

<__main__.Post object at 0x7f12791aff10>
파이썬은 참 깊군요!

In [57]:
class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=0,
            in_crerate_at='',
            in_updated_at='',
            in_author=''
        ):
        self.title = in_title
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_crerate_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __str__(self):
        return self.title

    def __repr__(self):
        return self.title

    def __add__(self, next):
        pass

    def __len__(self):
        pass

    def update(self):
        pass

    def delete(self):
        pass

게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고, 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
)

게시물2 = Post('2', '22', 0, '2024-01-11', '2024-01-11', '이호준')

print(게시물1)
print(게시물1.title)
print(게시물1 + 게시물2) # +연산이 나오면 앞(게시물 1)의 __add__가 실행됩니다.

파이썬은 참 깊군요!
파이썬은 참 깊군요!
None

In [58]:
# 1번
# 클래스를 설계하실 때
# 첫 번째로 - 모든 인스턴스에서 공유해야할 변수(클래스 변수)나 메서드 설정
# 두 번째로 - 인스턴스 고유의 영역
# in_crerate_at(스네이크 표기법) - 파이썬 권고사항
# inCreatedAt(카멜 표기법) - 파이썬에서는 잘 사용하지 않습니다.(JavaScript에서는 많이 사용합니다.)
# InCreatedAt(파스칼 표기법) - 파이썬 클래스

class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=0,
            in_crerate_at='',
            in_updated_at='',
            in_author=''
        ):
        self.title = in_title
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_crerate_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __str__(self):
        return self.title

    def __repr__(self):
        return self.title

    def __add__(self, next):
        # return self.count + next.count
        return self.title + next.title

    def __len__(self):
        pass

    def update(self):
        pass

    def delete(self):
        pass

게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고, 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
)

게시물2 = Post('2', '22', 0, '2024-01-11', '2024-01-11', '이호준')

print(게시물1)
print(게시물1.title)
print(게시물1 + 게시물2) # +연산이 나오면 앞(게시물 1)의 __add__가 실행됩니다.

파이썬은 참 깊군요!
파이썬은 참 깊군요!
파이썬은 참 깊군요!2

In [59]:
l = [10, 20, 30]
len(dir(i))

72

In [ ]:
class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=0,
            in_crerate_at='',
            in_updated_at='',
            in_author=''
        ):
        self.title = in_title
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_crerate_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __str__(self):
        return self.title

    def __repr__(self):
        return self.title

    def __add__(self, next):
        # return self.count + next.count
        return self.title + next.title

    def update(self, in_contents):
        '''
        in_ 실무에서 사용하는 접두사가 아닙니다!
        여러분에 이해를 돕기 위한 변수명입니다.
        '''
        self.contents = in_contents
        return '게시물 수정에 성공했습니다! 200'

게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고, 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
)

게시물2 = Post('2', '22', 0, '2024-01-11', '2024-01-11', '이호준')

print(게시물1)
print(게시물1.title)
print(게시물1 + 게시물2) # +연산이 나오면 앞(게시물 1)의 __add__가 실행됩니다.
게시물1.update('hello world')
게시물1.contents

In [ ]:
[1, 2, 3] ==[1, 2, 3]

In [59]:
[1, 2, 3] == (1, 2, 3)

# Dot

In [63]:
class Dot:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return (self.x + next.x, self.y + next.y)

    def __mul__(self, next):
        return (self.x * next.x, self.y * next.y)

    def distance(self, next):
        dx = self.x - next.x
        dy = self.y - next.y
        return (dx**2 + dy**2) ** 0.5 # root은 ** 0.5로 많이 사용합니다.

dot1 = Dot(20, 10)
dot2 = Dot(30, 5)

dot1 + dot2
dot1 * dot2
dot1.distance(dot2)

11.180339887498949

#character

In [ ]:
class Character:
    def __init__(self, name, skill, hp, mp, power, x):
        self.name = name
        self.skill = skill
        self.hp = hp
        self.mp = mp
        self.power = power
        self.x = x

    def move(self):
        self.x += 100

    def attact(self, next):
        next.hp -= self.power


주인공1 = Character('licat', '질풍검', 100, 100, 10, 10)
몹1 = Character('licat', '질풍검', 100, 100, 10, 10)

주인공1.attact(몹1)
몹1.hp

#복습문제

1. 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두 더하는 코드를 완성 해주세요. 오늘 배운 filter 사용은 필수 입니다.

number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]
def solution(data)
    return

solution(number)

2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요. 메서드로는 '할인' 메서드를 만들어주세요. 예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다. `책.할인(10) == 4500`의 형태로 만들어주시면 됩니다.
{
    '책제목': 'hello world python',
    '책 내용 요약': 'hello world...',
    '저자': '이호준',
    '발행일': '2024-01-11',
    '가격': 5000
}

3. 다음 문제를 풀고 정답을 제출해주세요.
3.1 https://100.pyalgo.co.kr/?page=10#
3.2 https://100.pyalgo.co.kr/?page=18#