<a href="https://colab.research.google.com/github/helloghostt/modu/blob/main/20240103_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 자료형

In [2]:
#1.1 문자열 생성
x = 'hello'
y = "python"
print(x,y)

hello python

In [11]:
i = '''안녕하세요.
날씨가 흐리네요.
화이팅하세요.
'''
j = """안녕하세요.
오늘도 좋은 하루 보내세요.
"""
i

'안녕하세요.\n날씨가 흐리네요.\n화이팅하세요.\n'

In [12]:
print(i)

안녕하세요.
날씨가 흐리네요.
화이팅하세요.

In [13]:
j

'안녕하세요.\n오늘도 좋은 하루 보내세요.\n'

In [14]:
print(j)

안녕하세요.
오늘도 좋은 하루 보내세요.

In [8]:
# 문자열 특징
x = 'hello'
y = 'world'
print(x + y)
print(x * 3)

helloworld
hellohellohello

In [15]:
#인덱싱
s = '위니브 월드!' #0123456  6=-1
print(s[0]) # 출력 : '위'
print(s[-1]) # 출력 : '!'
print(s[-2])
#print(s[100]) # error

위
!
드

In [17]:
#슬라이싱
s = '위니브 월드 외곽'
print(s[0:8])  #[start:stop:step]

위니브 월드 외

In [18]:
s = 'weniv CEO licat'
print(s[6:]) # 출력 : CEO licat  끝까지
print(s[:]) # 출력 : weniv CEO licat  전체
print(s[::-1]) # 출력 : tacil OEC vinew  거꾸로
print(s[::2]) # 출력 : wnvCOlct  2칸씩

CEO licat
weniv CEO licat
tacil OEC vinew
wnvCOlct

In [ ]:
s = 'weniv CEO licat'
s[10:20] # 출력 : licat

In [24]:
s = 'weniv_licat.png' #파일명 지우기
print(s[:11])
print(s[:-4])
s = 'weniv_licat.png' #파일명만 나오게
print(s[-3:])

weniv_licat
weniv_licat
png

In [ ]:
#메서드
s = 'weniv CEO licat'
s.lower() #전체를 소문자로 바꿔주는 method
s.upper() #전체를 대문자로 바꿔주는 method

s.find('CTO') #특정 데이터를 찾아서 출력해주는
s.index('CTO') #특정 데이터를 찾아서 출력해주는
#찾을 수 없는 문자열일 경우 find는 -1을 반환하는 반면, index는 error를 반환합니다

In [ ]:

s = 'weniv CEO licat'
s.count('i') #문자열이나 숫자를 셀 때 사용
#공백
#대소문자구분
#일치만하면 다 찾아

In [33]:

s = '    weniv CEO licat     ' #양쪽 공백을 제거하는 method  #잘 안되는 경우가 있어서 너무 신뢰하지말 것
s.strip()
'    ,!!  hello world   '.strip(' ,!')
#양쪽의 공백과 ',!'을 제거해주는 method

'hello world'

In [29]:
s = 'weniv CEO licat'
s.replace('CEO', 'CTO') #원하는 문자열을 다른 문자열로 대체할 때 사용하는 method

'weniv CTO licat'

In [30]:
s = 'weniv CEO licat'
s.replace('i', 'I') #문자열 내에서 모든 i를 I로 대체할 때 사용하는 method

'wenIv CEO lIcat'

In [31]:
s = 'weniv CEO licat'
ss = s.replace('i', 'I')
ss, s # 출력: ('weniv CEO licat', 'wenIv CEO lIcat')

('wenIv CEO lIcat', 'weniv CEO licat')

In [34]:
s = 'weniv CEO licat'
s.split()  #공백을 기준으로 문자열 나누기

['weniv', 'CEO', 'licat']

In [35]:
s = 'weniv-CEO-licat'
s.split('-') #-을 기준으로 문자열 나누기

['weniv', 'CEO', 'licat']

In [36]:
s = ['weniv', 'CEO', 'licat']
'-'.join(s) #리스트를 하나의 문자열로 합치기

'weniv-CEO-licat'

In [ ]:
name = 'licat'
age = 29

print('제 이름은 {}이고, 나이는 {}살입니다.'.format(name, age))

In [ ]:
'abcd1234'.isalnum() # 출력: True   # isalnum 특수문자가 있는지 확인하는 메서드
'안녕하세요'.isalnum() # 출력: True
'こんにちは'.isalnum() # 출력: True
'你好'.isalnum() # 출력: True

In [ ]:
s = '123'
s.isdigit() # isdigit 문자열이 숫자로만 이루어져 있는지 확인하는 method

In [ ]:
'hello world'.isalpha() # 출력: False # isalpha 알파벳으로만 되어있는지 확인하는 메서드
'helloworld'.isalpha() # 출력: True

In [39]:
s = 'licat'
a = s.rjust(10, '-') # rjust 문자열을 지정한 길이로 맞추고, 왼쪽을 '-'로 채우는 method
b = s.ljust(10, '-') # ljust 문자열을 지정한 길이로 맞추고, 오른쪽을 '-'로 채우는 method
c = s.center(11, '-') # center 문자열을 지정한 길이로 맞추고, 양쪽을 '-'로 채우는 method
print(a, b, c)

-----licat licat----- ---licat---

In [41]:
x = "42"
result1 = x.zfill(5)
print(result1)  # 00042

y = "-42"
result2 = y.zfill(5)
print(result2)  # -0042 부호가 있는 경우 부호까지 자리

filename = '1'.zfill(3) + ".jpg"
print(filename)

00042
-0042

In [42]:
년 = '23'
월 = '9'
일 = '8'
오늘날짜 = 년 + 월 + 일
print(오늘날짜)
오늘날짜 = 년 + 월.zfill(2) + 일.zfill(2)
print(오늘날짜)

2398
230908

In [45]:
# 변환 테이블 생성
table = str.maketrans("abc", "123")

text = "abcde"
result = text.translate(table)
print(result)  # 123de

# 'd'와 'e' 문자 제거하기
table = str.maketrans('', '', 'de') #공백
text = "abcde"
result = text.translate(table)
print(result)  # abc

table = str.maketrans('\n\t', '  ') # 똑같은 길이를 가지고 있어야 함
'weniv \n\n\n CEO \t\t\t licat'.translate(table)

123de
abc

In [ ]:
name = 'licat'
age = 10

print('제 이름은 %s, 제 나이는 %d입니다. ' % (name, age))
# 출력: 제 이름은 licat, 제 나이는 10입니다.

s = 'My name is {}'.format('licat')
print(s) # My name is licat

In [ ]:
#f-string
name = 'licat'
s = f'My name is {name}'
print(s) # My name is licat

- `\n`: 새로운 줄(줄바꿈)을 나타냅니다.
- `\t`: 탭 문자를 나타냅니다.
- `\r`: 커서를 현재 줄의 처음으로 이동합니다.
- `\"`: 큰따옴표를 나타냅니다.
- `\'`: 작은따옴표를 나타냅니다.
- `\\`: 백슬래시를 나타냅니다.

In [ ]:
print("Hello\nWorld!") # Hello와 World! 사이에 줄바꿈이 일어납니다.
print("Hello\tWorld!") # Hello와 World! 사이에 탭 간격이 생깁니다.
print("She said, \"Hello World!\"") # 큰따옴표 내부에 문자열을 출력합니다.
print('She said, \'Hello World!\'') # 작은따옴표 내부에 문자열을 출력합니다.
print("Backslash: \\") # 백슬래시를 출력합니다.

# 논리(bool) 자료형

In [49]:
x = True
y = False
z = 10 > 3
print(x, y, z)

False

In [ ]:
print(True == 1) # 출력: True  true,1는 수행하고 false,0는 수행하지 않는다
print(False == 0) # 출력: True

In [ ]:
print(True + True) # 출력: 2    true를 1로 false는 0으로
print(False - True) # 출력: -1
print(True / True) # 출력: 1.0
print(True * False) # 출력: 0
print(True / False) # error

# None 자료형

In [ ]:
None + 5 # error
None + None # error
None = 10  # error

In [ ]:
dir(None)

# 메서드 채이닝

In [ ]:
# 메서드를 체인처럼 연결해서 쓴다는
# 한 줄이 79자 이상이 넘지 않도록
# 백슬러쉬 사용해서 개행을 할 수 있습니다.
sentence = '  Hello, World!  '
result = sentence\
.strip()\
.lower()\
.replace('world', 'python')

print(result)  # 'hello, python!'

In [ ]:
'010-1000-2000'.split('-').replace('0', 'x')
['010', '1000', '2000'].replace('0', 'x')

# 형변환

In [64]:

월급 = input("월급을 입력하세요 : " )
연봉 = int(월급) *12
print("연봉은 " + str(연봉) + "만원" )  #int없이 하면 100100100...

월급을 입력하세요 : 1000
연봉은12000만원

In [59]:
#str-> int
num = '123'
print(type(num))

num = int(num)
print(type(num))

<class 'str'>
<class 'int'>

In [60]:

s = 'hello'
print(type(s))

#s = int(s) # error
#print(type(s))

<class 'str'>

ValueError: ignored

In [66]:
#float → int
f = 3.14159
number = int(f)
print(number)  # 출력: 3

3

In [65]:
#bool → int
true_int = int(True)
false_int = int(False)

print(true_int)  # 출력: 1
print(false_int)  # 출력: 0

1
0

In [ ]:
#None은 int형으로 형변환 하면 0이라고 오해하는 분들이 많으신데
#None은 int형으로 변환이 가능하지 않습니다.

In [ ]:
#int와 float → str
n = 123
print(type(n))

m = 123.4
print(type(n))

n = str(n)
print(type(n))

m = str(m)  # float형은 str으로 변환했다가 int형으로 변환했을 경우 error/소수점. 때문
print(type(m))

In [61]:
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))  #
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0)) #
print("bool(-1):", bool(-1))
print("bool(None):", bool(None)) #
print("bool([]):", bool([])) #
print("bool(tuple()):", bool(tuple())) #
print("bool({}):", bool({})) #
print("bool(set()):", bool(set())) #

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [62]:
#float형으로 형변환
s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')

10.0
10.0
3.14

In [ ]:
#  list형으로 형변환
s = '10'
print(list(s))  # str → list

name = 'licat'
print(list(name)) # ['l','i','c','a','t']

In [68]:
#  tuple형으로 형변환
name = 'licat'
tuple(name) #('l','i','c','a','t') list랑 괄호다

('l', 'i', 'c', 'a', 't')

In [69]:
# dict형으로 형변환
data = [('name','licat'),('age',10)]
d = dict(data)
d

{'name': 'licat', 'age': 10}

In [70]:
# set형으로 형변환
s = 'weniv CEO licat'
print(set(s)) #중복을 허락하지 않고 순서가 없습니다. 공백도 문자로
print(len(set(s))) #중복을 제거한 상태로의 길이를 알려줍니다.
print(len(s))

{'c', ' ', 't', 'n', 'O', 'E', 'a', 'e', 'C', 'l', 'v', 'w', 'i'}
13
15

In [72]:
list(map(int, ['10', '20', '30'])) # 출력: [10, 20, 30]

[10, 20, 30]

In [73]:
list(map(int, '12345')) # 출력: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

#퀴즈
1.input() 함수로 입력받은 데이터의 기본 타입은 무엇입니까?

A. int
*B. str
C. float
D. list

2.다음 중 int타입으로 변환할 수 없는 것은 무엇입니까?

A. "123"
* B. "123.45"
C. "0"
D. "100"

3. 다음 코드의 출력 결과는 무엇입니까?

```python
pythonCopy code
s = "3.14"
print(float(s))
```
A. 3
*B. 3.14
C. "3.14"
D. 오류

4. bool(0)의 반환 값은 무엇입니까?

A. True
*B. False
C. 0
D. None

5.str() 함수의 주요 용도는 무엇입니까?

A. 문자열을 정수로 변환
*B. 정수를 문자열로 변환
C. 문자열을 실수로 변환
D. 실수를 문자열로 변환

6. 다음 코드의 출력 결과는 무엇입니까?

```python
pythonCopy code
x = [1, 2, 3]
print(set(x))
```
A. [1, 2, 3]
*B. {1, 2, 3}
C. (1, 2, 3)
D. "123"
---

7.list("hello")의 반환 값은 무엇입니까?

A. "hello"
*B. ['h', 'e', 'l', 'l', 'o']
C. ('h', 'e', 'l', 'l', 'o')
D. { 'h', 'e', 'l', 'l', 'o' }

8. 어떤 값이 False로 평가되는 경우는 무엇입니까?

A. "False"
*B. 0
C. 1
D. "0"

9.다음 코드의 출력 결과는 무엇입니까?

```python
pythonCopy code
print(int(3.999))
```
*A. 3
B. 3.999
C. 4
D. 오류

10.어떤 데이터 타입을 **`dict()`**로 형변환 할 수 없습니까?

A. 리스트 내에 튜플 쌍
B. 튜플 내에 리스트 쌍
*C. 단일 문자열
D. 리스트 내에 리스트 쌍

# 연산자
## 산술연산자, 대입연산자(할당연산자), 비교연산자, 논리연산자, 비트연산자, 멤버연산자, 식별연산자

#문제풀어보기
##유튜브 위니브
##유튜브 제주코딩베이스캠프 https://100.pyalgo.co.kr

#산술연산

In [75]:
print( 5 + 3) # 결과: 8
print(3 + 2.5) # 결과: 5.5

s1 = "Hello"
s2 = "World"
result = s1 + " " + s2
print(result)  # Hello World

8
5.5
Hello World

In [76]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)  # [1, 2, 3, 4, 5, 6]

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)  # (1, 2, 3, 4, 5, 6)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [79]:
print({3, 4, 5} - {4}) # 결과: {3, 5}
print({3, 4, 5}.difference({4})) # 결과: {3, 5}

{3, 5}
{3, 5}

In [80]:
result1 = "Ha" * 3
print(result1) # 출력: "HaHaHa"
result2 = [1, 2, 3] * 2
print(result2) # 출력: [1, 2, 3, 1, 2, 3]

HaHaHa
[1, 2, 3, 1, 2, 3]

In [ ]:
a = -5
b = 2
print(a / b) # 결과: -2.5   부동소수점으로 나옴
print(a // b) # 결과: -3 //는 내림

In [ ]:
z = 0
x / z # ZeroDivisionError 발생 : 0으로 나눠진 부분 체크해야함

In [81]:
a = 10
b = 3
divide = a / b    #3.3333333335
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [83]:
print(10 / 3)
print(10 // 3)
print(10 % 3)

3.3333333333333335
3
1

In [ ]:
10 % 0 # ZeroDivisionError 발생

In [2]:
print(10 ** 3) # 결과: 1000
print(-2 ** 2) # -4
print((-2) ** 2)  # 4

1000
-4
4

# 비교연산자

In [ ]:
print(5 == 5) # 결과: True 같다

In [ ]:
print(5 != 3) # 결과: True 같지않다

In [ ]:
print(3 < 5) # 결과: True

In [ ]:
print(5 <= 5) # 결과: True

In [ ]:
print('apple' < 'banana') # 결과: True

In [ ]:
print('하하' > '후후') # 결과: False  하는 D558번째에 있으며 후는 D6C4번째

In [ ]:
x = 10
print(5 < x < 15) # 결과: True

In [ ]:
[10, 20, 30] > [20, 30, 40] # False  맨 앞자리/같으면 그 다음 자리로/타입이 다르면 error/자릿수가 다르면 많은쪽으

In [4]:
#부동소수점 main.isclose() 결과값이 가까운
import math

result = 0.1 + 0.2
print(result == 0.3)              # False
print(math.isclose(result, 0.3))  # True
print(math.isclose(result, 0.29)) # False
print(math.isclose(result, 0.31)) # False
print(math.isclose(result, 0.30000001)) # False

False
True
False
False
False