<a href="https://colab.research.google.com/github/helloghostt/modu/blob/main/20240102_day3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Random

In [1]:
#1.1 기본 사용법
import random
'''
0~9까지의 임의의 숫자를 선택하는 코드를 작성
파이썬의 숫자의 시작은 무조건 **0**부터
10으로 입력하면 -1 즉, 9까지
'''
num = random.randrange(10)
print(num)

5

In [3]:
#1.2 시작값과 끝값을 지정
num_2 = random.randrange(10,20)
print(num_2)

12

In [4]:
#1.3 간격 설정
#10부터 100까지 숫자 중에서 10의 간격으로 무작위 선택
num10_100 = random.randrange(10,101,10)#처음, 끝, 간격
print(num10_100)

60

#2. choice

In [8]:
#1choice기본 사용법
#chosen_element = random.choice(sequence)
#리스트에서 무작위 과일선택
# 다양한 정보를 한번에 받아오는것 = 리스트
elements = ['사과', '바나나', '체리']

In [12]:
chosen_element = random.choice(elements)
print(f"제가 선택한 과일은: {chosen_element}")

제가 선택한 과일은: 바나나

In [13]:
#2. 문자열에서 무작위 문자 선택
greeting = "안녕하세요"
choice_char = random.choice(greeting)
print(f"제가 선택한 문자는: {choice_char}")

제가 선택한 문자는: 녕

In [ ]:
#기본 - input output -> 문자열을 받아서 문자열 출력!
#random - 무작위의 숫자 또는 문자를 받아와서 출력!

In [21]:
#문자형->숫자형int
test1 =int(input("임의의 숫자를 입력하세요 : "))
type(test1)
print(test1+test1)

임의의 숫자를 입력하세요 : 10
20

In [15]:
#이 코드는 random 라이브러리르 사용한 예시입니다

import random  #random 라이브러리를 가지고 옵니다.


random_number1 = random.randint(1, 10)  # 1~9 임의의 숫자
random_number2 = random.randint(1, 10)  # 1~9 임의의 숫자

# 생성된 두 숫자의 합 계산
sum_of_numbers = random_number1 + random_number2

# 결과 출력
print(f"첫 번째 생성된 숫자: {random_number1}")
print(f"두 번째 생성된 숫자: {random_number2}")
print(f"두 숫자의 합: {sum_of_numbers}")

첫 번째 생성된 숫자: 3
두 번째 생성된 숫자: 3
두 숫자의 합: 6

In [20]:
#모두의 마블 주사위 굴리기

import random

dice1 = random.randint(1,6)
dice2 = random.randint(1,6)

total = dice1 + dice2
#주사위 2개의 결과
print(f"주사위 결과: {dice1} + {dice2} = {total}")

주사위 결과: 3 + 4 = 7

In [31]:
#윷놀이 프로그래밍

'''
1. 윷은 앞or뒤 선택, 확률은 1/2로
2. 도개걸윷모
3. 최종은 하나만 선택되어야함

'''
import random

throw1 = random.choice([0, 1])
throw2 = random.choice([0, 1])
throw3 = random.choice([0, 1])
throw4 = random.choice([0, 1])

total_back = throw1 + throw2 + throw3 + throw4
results = ['모', '도', '개', '걸', '윷'] # list는 sequence 자료형이므로 순서있음 0,1,2,3,4 순서
print("윷놀이 결과는 : ", end = " " )
print(results[total_back])

윷놀이 결과는 :  도

# 변수

In [33]:
x = 10
y = x
z = y
x = 20  # x는 변한값으로
print(x, y, z)

20 10 10

In [35]:
#1. 변수의 속성 확인
x = "10"
print(type(x))

x= "Jun"
print(type(x))

<class 'str'>
<class 'str'>

In [40]:
#값 변경
x = 10
print(x)
x=20
print(x)

10
20

In [ ]:
# 변수삭제
x = "10"
print(x)

del x
print(x)

*   숫자형 - int(진법 포함),float, complex
*   논리자료형 - bool
*   시퀀스 - str,list, tuple
*   컬렉션, 컨테이너 - list ,tuple(변경불가능, 주민번호등),dict,set / 순서가 없음
*   None

1.Python에서 변수 생성의 올바른 예는 무엇인가요?
1) 1name = "Jun"
*2) name1 = "Jun"
3) user-name = "Jun"
4) if = "Jun"

2.아래 코드 실행 후, print(y, z)의 결과는 무엇일까요?
x = 10
y = x
z = y
x = 20
1) 20, 20
2) 10, 20
3) 20, 10
*4) 10, 10

3.Python에서 x = 10 이후 type(x)의 결과는 무엇일까요?
a) <class 'float'>
*b) <class 'int'>
c) <class 'str'>
d) <class 'bool'>

4.Python에서 변수를 삭제할 때 사용하는 키워드는 무엇인가요?
a) remove
b) delete
*c) del
d) clear

5.Python의 어떤 자료형은 변경 불가능한가요?
a) list
b) dict
*c) tuple
d) set

6.Python에서 어떤 자료형은 숫자형에 속하지 않나요?
a) int
b) float
c) complex
*d) bool

In [41]:
'''
진수
2진수 - 0b
8진수 - 0o
16진수 - 0x
'''
#진수변
b = int('0b11010', 2)
o = int('0o32', 8)
h = int('0x1a', 16)
print(b, o, h)

26 26 26

In [42]:
#메서드(자료형이 할수 있는 일)
'hello'.upper() #대문자로 바꾸는

'HELLO'

In [43]:
x = 5
print(dir(5))   #언더스코어 2개가 붙은것이 메직 메서드

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [44]:
x = 5
x.bit_count()

2

In [46]:
# -5 ~ 256

x=257
y=257
print(x,y)
print(id(x), id(y)) #
print(x == y)
print(x is y) #범위를 벗어나서false

257 257
138784952935120 138784952932432
True
False

1.Python에서 정수 타입의 변수는 어떻게 표현되나요?
a) x = 10.0
*b) x = "10"
c) x = 10
d) x = [10]

2.Python에서 정수 5와 5가 다음과 같이 선언될 때, 두 변수의 id() 값은 어떻게 될까요?
x = 5
y = 5
a) 항상 다릅니다.
*b) 항상 같습니다.
c) x가 먼저 선언되었기 때문에 다릅니다.
d) y가 나중에 선언되었기 때문에 다릅니다.

3.Python에서 정수형 변수를 선언하는 올바른 방법은 무엇인가요?
a) int x = 5;
b) x := 5
*c) x = 5
*d) x = int(5) <-맞지만 불필요

In [48]:
#실수
#양의 무한대
x = float("inf") #x_inf = float("inf")
print(x)         #print(x_inf)

inf

In [52]:
#부동소수점의 문제
x_test = 10.1
y_test = 10.2
print(x_test+y_test)

#해결하기
import decimal

float(decimal.Decimal('.1') + decimal.Decimal('.2'))

20.299999999999997

0.3

In [53]:
#제곱형태
print(2e3) #float형
print(2E3)
print(2 * (10 ** 3))  #int형

2000.0
2000.0
2000

In [58]:
#복소수 출력
x1 = 3 + 4j
x2 = complex(3, 4)
print(x1,x2)

(3+4j) (3+4j)

In [61]:
x3 = 3 + 4j
print(x3.imag)

4.0

1.다음 연산의 결과는 무엇일까요?
x = 9.9
y = 20.1
result = x + y

a) 30
b) 30.0
c) '30.0'
d) '30'

2.파이썬에서 float('inf')는 무엇을 나타내나요?
a) 음의 무한대
b) 양의 무한대
c) 0
d) 오류

3.Python에서 복소수를 표현하는 올바른 방법은 무엇인가요?
a) x = 3 + 4i
*b) x = complex(3, 4)
c) x = 3.0 + 4.0
d) x = "3 + 4j"

4.복소수 3 + 4j의 실수 부분을 반환하는 코드는 무엇인가요?
a) (3 + 4j).real()
b) real(3 + 4j)
*c) (3 + 4j).real
d) 3 + 4j.real

In [62]:
###파이썬 100제 문제로 복습하기
#9.
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, )
print(hour, minute, second, )

2019 04 26
11 34 27

In [63]:
#15.안녕하세요. 저는 김다정입니다.출력하기
name = input ("이름을 입력하세요 :" )
print(f"안녕하세요. 저는 {name} 입니다.")

이름을 입력하세요 :김다정
안녕하세요. 저는 김다정 입니다.

In [66]:
n = input()
print('안녕하세요. 저는 {}입니다.'.format(n))

김다정
안녕하세요. 저는 김다정입니다.

In [68]:
#23.
print(10/2)

5.0

In [71]:
#39.
'''
입력 : querty
출력 : euerty

입력 : hqllo my bamq is hyqwob
출력 : hello my bame is hyewob
'''
data = input()

print(data.replace('q', 'e').replace('b', 'n'))

querty
euerty

9번 -틀림
15번 - 맞음
23번 - 맞음