<a href="https://colab.research.google.com/github/helloghostt/modu/blob/main/20240108_day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#함수
##1. 함수 기본구조

In [ ]:
def happy() : # 함수가 활성화 될 준비 완료
    print('1')   #같은 들여쓰기만 하면 되는데 파이썬을 사용하기 때문에 4칸으로 연습
    print('2')
print('3')
happy()     # 3 1 2

In [ ]:
def my_function():
    print('1')
    print('2')
    print('3')
my_function()    # 1 2 3

##2. 함수 기본 구조 실습
###2.1 파라미터 없고 반환값 없는 함수
###2.2 파라미터 없고 반환값 있는 함수
###2.3 파라미터 있고 반환값 없는 함수
###2.4 파라미터 있고 반환값 없는 함수

In [13]:
def function(x, y):    #x,y는 파라미터(매개변수),없는 경우도 있음
    z = x + y
    return z
print("function(10, 9) =", function(10,9))
print(f'function(10, 9) = {function(10, 9)}')
#출력 function(10, 9)= 19

function(10, 9) = 19
function(10, 9) = 19

In [14]:
#기능과 연산
def function_name(x, y):
    pass # 만들때 임시로 값을 넣는 부분/ 에러가 나지 않게 하는 기능

def function_name(x, y):
    return x + y  #변수값 지정안하면 None반환

In [15]:
#2.1 파라미터 없고 반환값 없는 함수
def simple_function():
    print('Hello, World!') # 출력: 'Hello, World!'

# 함수 호출
print(simple_function()) # return이 없기 때문에   출력: None

Hello, World!
None

In [ ]:
#2.2 파라미터가 없고, 반환 값은 있는 함수
def give_me_five():
    return 5

result = give_me_five()
print(result) # return의 출력: 5

In [25]:
#2.3 입력 매개변수가 있고, 반환 값이 없는 함수
def greeting(name):
   return f'Hello, {name}!'

# 함수 호출
result = greeting('Licat') #함수는 return이 없어서 none반환 ->출력은 안됨  출력은 Hello, Licat!
print(result)

Hello, Licat!

In [ ]:
#2.4 입력 매개변수가 있고, 반환 값이 있는 함수
def add_numbers(x, y):  #선언
    sum = x + y
    return sum

# 함수 호출
result = add_numbers(5, 3)
print(result)  # 5+3 출력: 8

In [27]:
print(print('hello'))
#출력은 hello  None 값으로

hello
None

In [28]:
def function(x, y):
    z = x + y
    print(z)
print(f'function(5, 7) = {function(5, 7)}')

12
function(5, 7) = None

#함수의 아규먼트와 파라미터
##1. 파라미터와 아규먼트
###1.1 파라미터
###1.2 아규먼트
###1.3 예시

In [ ]:
# 파라미터: 함수를 정의할 때 사용되는 변수
# 아규먼트 : 함수를 호출할 때 전달하는 실제
def f(a, b, c):  #파라미터 a, b, c
    print(a, b, c)

#f()    # error
f(100, 10)  # error
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

In [ ]:
def f(a=10, b=20, c=30):  # 기본값이 있는 파라미터 a, b, c
    print(a, b, c)

f()    # 출력: 10 20 30
f(100, 10) # 출력: 100 10 30
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

In [ ]:
def f(a, b=20, c=30): # 일부만 기본값이 있는 파라미터 a, b, c
    print(a, b, c)
print(f(100, 10)) # 출력 : 100, 10, 30
print(f(a=100, b=200, c=300)) # 출력 : 100 200 300
print(f(c=300, a=100, b=200)) # 출력 : 100 200 300

'''
a가 기본값이 없으니까 넣어주는 것은 출력이 되고 아니면 error가 난다
print(f()): error
print(f(c=300)): error
'''

In [ ]:
def add_element(my_list):
    my_list.append(1)

a = [2, 3, 4]
add_element(a)
print(a)  # 출력: [2, 3, 4, 1]

In [43]:
def add_element(my_list):
    my_list.append(1)
    print(id(my_list)) # 출력: 135115033605760

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 135115033605760
print(a)  # 출력: [2, 3, 4, 1]

137105744047232
137105744047232
[2, 3, 4, 1]

In [1]:
def add_element(my_list):
    my_list.append(1)
    print(id(my_list)) # 출력: 135115033605760

In [2]:
# 권장하지 않는 방법
def append_to_list(value, lst=[]):
    lst.append(value)
    return lst # 예상치 못한 결과가 발생할 수 있습니다.

# 권장 방법
def append_to_list(value, lst=None):
    if lst is None:
        lst = []
    lst.append(value)
    return lst

In [ ]:
append_to_list(1) # 출력: [1]

In [ ]:
append_to_list(2) # 출력: [1, 2], 그러나 결과가 [2]가 나올것으로 예상할수도 있습니다.

#지역변수와 전역변수

In [ ]:
#1. 지역 변수 : 함수 내부에서만 정의되고 사용되는 변수
def f():
    a = 1
    print(a)  # 출력: 1

f()
print(a) # error : a가 함수 내에서만 정의되어서

In [ ]:
def f():
    a = 1
    print(a)
    return a
f()
print(a)

In [ ]:
def f():
    a = 1
    print(locals()) # 출력: {'a': 1}

f()

In [12]:
def f():
    a = 1
    b = 'hello'
    def ff():
        pass
    print(locals())
f()

{'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7b06a87e2dd0>}

In [ ]:
#2. 전역 변수
a = 100

def f():
    global a   #global을 지우면 error
    a = a + 1

f()
print(a)  # 출력: 101, 함수 f 내에서 전역 변수 a가 수정되었습니다.

In [15]:
a = 100
def f():
    global a
    a = a + 1
    return a
print(f()) #101
print(a)  # 101   지정된 100이 나오지 않는 이유: 광역변수 설정해버려서

101
101

In [17]:
a = 100

def f():
    a = 1000
    print(a) # 출력: 1000

f()

1000

In [ ]:
a = 100
def f():
    a = a + 1 # error 광역변수 선언이 없어서

f()
print(a)

#빌트인 함수(built-in function)
##1. 빌트인 함수(built-in function)란?
##2. 빌트인 함수(built-in function) 종류
###2.1 all, any
###2.2 chr, ord
###2.3 map
###2.4 filter
###2.5 zip
###2.6 format
###2.7 len
###2.8 max, min, sum
###2.9 print, repr
###2.10 range, enumerate
###2.11 sorted, reversed

In [ ]:
#2.1 all, any
# 모두 다 True여야 True 반환
all([True, True, True]) # 출력: Ture
all([True, True, False]) # 출력: False
all([1, 1, 1, 0]) # 출력: False
all([1, 0, 1, 1]) # 출력: False
all([1, 100, 10, -1]) # 출력: True
# 하나라도 True이면 True이다.
any([True, False, False]) # 출력: True
any([False, False, False]) # 출력: False

In [ ]:
#2.2 chr, ord
chr(65) # 출력: 'A'
chr(97) # 출력: 'a'
chr(54616) # 출력: '하'
ord('a') # 출력: 97
ord('하') # 출력: 54616

In [ ]:
#2.3 map
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]
# 같은결과  list(map(lambda x : x ** 2, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

In [ ]:
#2.4 filter
list(filter(lambda x : x > 50, range(100))) #출력 [51,52,...99]한개씩 아래로

In [ ]:
#2.5 zip
zip('ab', '12') # 출력: <zip at 0x7b9d83c6e440> 주소출력
list(zip('ab', '12')) # 출력: [('a', '1'), ('b', '2')]
list(zip('ab', '12', [10, 20])) # 출력: [('a', '1', 10), ('b', '2', 20)]
list(zip('abc', '1234567', [10, 20, 30]))
# 출력 : [('a', '1', 10), ('b', '2', 20), ('c', '3', 30)] 짧은 abc의 길이에 맞춰서
x = [2, 4, 8, 16, 32, 64, 128]
list(zip(x, x[1:], x[2:]))
# 출력
#[(2, 4, 8), (4, 8, 16), (8, 16, 32), (16, 32, 64), (32, 64, 128)]

In [ ]:
#2.6 format
format(값, '서식 지정자(format_spec)')
#2.7 len
len(길이를 계산하려는 객체)
#2.8 max, min, sum
#2.9 print, repr
repr(hero) # (__repr__ 메서드 호출로 인해)문자 출력 : hello

In [ ]:
##2.10 range, enumerate
range(start, stop, step)
list(range(1, 10, 2)) # 출력: [1, 3, 5, 7, 9]
#enumerate 함수는 반복할 수 있는 객체의 인덱스와 값을 함께 반환하며 주로 반복문에서 사용
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100)))
# 출력 키값이 없지만 enumerate로 임시 키값을 제공하여 묶을수 있음
#[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
#[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
#[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

In [ ]:
#2.11 sorted, reversed
sorted([1, 2, 100, 200, 3, 4, 10, 20])
# 출력 : [1, 2, 3, 4, 10, 20, 100, 200]
sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse=True)
# 출력 : [200, 100, 20, 10, 4, 3, 2, 1]
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'])
# 출력 : ['a', 'hel', 'hello', 'heo', 'hllo', 'l']
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
# 출력 : ['l', 'a', 'hel', 'heo', 'hllo', 'hello']
sorted(['12', '15', '21', '22', '53', '21'])
# 출력 : ['12', '15', '21', '21', '22', '53']
sorted(['21', '21', '12', '22', '53', '15'], key=lambda x:x[-1])
# 출력 : ['21', '21', '12', '22', '53', '15']
l = [3, 2, 1, 5, 4]
print(l.reverse())
print(l)  #None  [4, 5, 1, 2, 3]

In [25]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love') #2번

    print('I')#1번
    함수2()  #2
    return "python" #3


a = 함수1()
print(a)

I
love
python

In [26]:
def plus(num1, num2):
    return num1 + num2

def minus(num1, num2):
    return num1 - num2

def multiply(num1, num2):
    return num1 * num2

def divide(num1, num2):
    return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0