<a href="https://colab.research.google.com/github/helloghostt/modu/blob/main/20240105_day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = a
c = b
print(c) # 10

a = 10
b = a
c = b
a = 20
print(c) #10    10<-a<-b<-c가 아니라는것 기억

a = 10
b = a

print(id(a))
print(id(b))

In [ ]:
# -5부터 256은 같습니다.
a=10
b=10
print(id(a))
print(id(b)) #같음
print(a is b)

a = 257
b = 257
print(id(a))
print(id(b))
print(a is b)

In [1]:
#부동소수점
0.1+0.2 #2진수로 표현했을 때 무한소수라서

0.30000000000000004

In [11]:
#문자열연결
'''
회색 줄은 영문자 80자, 한글은 32자
PEP8, PEP20
'''
#해결책1- (\/\n) 사용
print('hello worldhello worldhello worldhello worldhello worldhello world \
hello world hello world') #코드는 두줄, 결과는 한줄
print('hello world \n hello world') #결과를 두줄로 받을때
#해결책2 - 콤마를 찍지 않은 연결
print('hello world' 'hello world') #출력은 hello worldhello world
print('hello world'
      'hello world')  #출력은 hello worldhello world

hello worldhello worldhello worldhello worldhello worldhello world hello world hello world
hello world
 hello world
hello worldhello world

In [8]:
#매서드 체인, 3개이상 권장안함 80자 미만으로
'hello world'.upper().split(' ').pop().upper() #길어지면 오류가 나기 쉬움

result = 'hello world'.upper()
result.split(' ')
'''허용하지만 권장하지 않음: 빈칸의 의미때문
'hello world'.upper(
    .split(' ')\
    .pop()\
    .lower()
'''

['HELLO', 'WORLD']

In [ ]:
dir('hello world')# 메서드, 매직메서드, (클래식 변수, 인스턴스 변수)
1. #find와 index의 차이
if 'hello world'.find('hi'): #안됨
  print('찾았다')

2. isdigit #많이 사용함
'123'.isdigit()
'12h3'.isdigit()

3. #replace
'hello world hello world'.replace('hello','hi') #출력 hi world hi world 둘다 변함
#알아둘사항: replace는 정규표현식이 안됩니다! -> re.sub사용

4.strip -제거

5.zfill(0으로 채워주기, 원하는 자릿수만큼, 시간or연도 등)

#리스트
변경이 가능한 자료형
순서가 있는 자료형(시퀀스형 자료형, 인덱싱, 슬라이싱)

In [13]:
l = [10, 20, 30]
#라인 수가 길어졌을 때
#1번
l = [10,
     20,
     30] #됩니다
#2번
l = [
    10,
    20,
    30
] #됩니다
#통신을 할 때에는 JSON이라는 형식을 사용하게 되는데 JSON은 콤마 허용하지 않음
#실무에서는 2번 사용하는 이유: 콤마
#자동변환sw사용함 (python black formatter)

In [ ]:
l = [10, 20, 30]
l[2] = 1000
print(l)  #[10, 20, 1000]

# 문자 하나 바꾸기
s = 'hello world'
'''안됨
s[0] = 'y'
'''
s = s.replace('h', 'y') # s = 'y' + s[1:]와 같음
print(s)

In [ ]:
l = [10, 20, 30, 40, 50]
ㅣ[-1]
ㅣ[-2:]   # 마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환됩니다.
ㅣ[3:]
# 변수명[stop]
# 변수명[start:stop]
# 변수명[start:stop:step]

In [ ]:
type(l) #검색키워드, gpt 키워드가 됩니다
dir(l) # 대략적인 속성

In [16]:
#__add__가 있으니 더하기는 어디까지?
#__mul__이 있으니 곱하기는 어디까지 될까?
l = [10, 20, 30]
l+[100]  # 정수 더하기는 안됩니다!
l+[100, 200]
ㅣ * 3  # 정수 곱하기는 됩니다!
l * 3    # l *[1, 2]는 안됨

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [21]:
# 리스트 곱하기는 매우 주의해야 합니다!
# 곱하기가 2중으로 있을 때에는 나중에 배울 리스트컴프리헨션 사용해주세요!
l = [[1, 2, 3]*3] *2
l[1][0] = 1000
l

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
x = 10 #스칼라
x = [10]#벡터
x = [10,20] #벡터
x = [[10, 20],[10, 20]] # 매트릭스
x = [[[10, 20], [10, 20]], [[10, 20], [[10, 20]]]] #텐서 3차

In [23]:
x = [[1, 2], [3, 4], [5, 6]]
x[1]
x[1][1]

4

In [ ]:
x = [[1,2], [3,'hello world',[5,6]]]
print(x[1])
print(x[1][1])
print(x[1][1][]6:)

In [ ]:
x = 10
#다르다는 것만 인지해주세요!프린트를 하는 것과 맨 마지막 출력하는 것은 다릅니다
print(x) #__str__
x #__repr__

In [ ]:
l = [10, 20, 30]
dir(l)
#tip:앞에 빈칸 한번에 없애기->shift+tap/ 끌어올려서 +대괄호열고 닫고
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'      # append부터 순서대로 다뤄보자

In [ ]:
l.append(100)
l
#앞에다 넣는 방법
l1 = [1000]+ ㅣ
print(l1)
ㅣ2 = [x] +l[:]
print(l2)
l3 = l.insert(0, 999)
print(l3)

In [25]:
l = [10, 20, 30, 40]
l.pop()
l

[10, 20, 30]

In [27]:
l = [10, 20, 30, 40]
l[:-1]
l[1:]

[10, 20, 30]

In [ ]:
'''
l = [10, 20, 30, 40]
ㅣ[100]  #error

keep
index가 에러가 납니다. error없이 코드를 짜고 싶으면 슬라이싱을 사용
'''
l = [10, 20, 30, 40]
ㅣ[100:101]

In [ ]:
l = [10, 20, 30, 40]
l.clear()
l

In [33]:
l = [10, 20, 30, 40]
ll=l.copy()
l[0] = 1000
ll

id(l), id(ll)
l is ll  #false
l, ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [35]:
l = [10, 20, 30, 40]
ll = l[:]
l[0] = 1000
l, ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [37]:
l = [1, 1, '1' , 2, 2, 2, 3, 3]
l.count(1)

2

In [ ]:
#1부터 10000까지 8이라는 숫자가 몇번 나오는지,
#예를 들면 8808은 3번으로 카운팅하는 코드
'''
#1
count_eight = 0

for number in range(1, 10001):
    count_eight += str(number).count('8')

print("숫자 8의 개수:", count_eight)

#2
count_eight = sum(str(number).count('8') for number in range(1, 10001))

print("숫자 8의 개수:", count_eight)

#3
str(list(range(1,10001))).count('8')
'''

In [ ]:
#extend
l = [10, 20, 30, 40]
l.extend('hello') #append(보통리스트), extend(순화가능한객체)
'''
만약 리스트에 하나의 값을 추가하려면 append를 사용하고, 다른 리스트의
모든 원소를 추가하려면 extend를 사용하는 것이 유용합니다.
'''

In [ ]:
l= [1,1,1,1,2,2,3,3,3]
l.remove(1) #맨앞의 1 지움
l

In [41]:
# 이해하지 않으셔도 됩니다.
# 여기서 catch해야할 포인트는 모든 요소를 filtering하고 싶을 때에는
# remove가 아니라 filter라는 것을 사용한다!
def f(x):
    return x != 1

l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
list(filter(f, l))

[2, 2, 3, 3, 3]

In [3]:
#reverse
l = [1,2,3,4,9,5,6,7]
l.reverse()    #역정렬 아님, 크기순아님
l

'''
reversed는 잊으셔도 됩니다. l.reverse만 기억하세요.
l = [1, 2, 3, 4, 9, 5, 6, 7]
list(reversed(l)) # reversed는 원본을 변경하지 않습니다.
'''

[7, 6, 5, 9, 4, 3, 2, 1]

In [ ]:
#sort
l = [1,2,3,4,9,5,6,7]
l.sort()
l.reverse()
sorted(l) #원본을 변경하지 않습니다.sorted는 잊어도

In [ ]:
#sort, sorted, reverse, reversed 알고리즘 문제에서도 1개는 거의 나옴 옵션값은 함수까지 배워야 가능

In [12]:
#국어점수가 높은 순으로 정렬  국, 영, 수, 이름
s= [[100,87,91,'이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]
def f(x):
    return x[0]

sorted(s, key = f)
sorted(s, key = f, reverse=True)

[[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

In [10]:
#평균점수가 높은 순으로 정렬
s= [[100,87,91,'이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]
def f(x):
    return x[0]+ x[1]+ x[2]
sorted(s, key=f)
sorted(s, key =f, reverse=True)

[[100, 87, 91, '이호준'], [33, 86, 100, '홍길동'], [56, 38, 89, '이준호']]


파이썬의 기여하는 사람들 2500명정도 contributors


귀도 반 로섬(Guido van Rossum)은 프로그래밍 언어 파이썬(Python)의 창시자로, 파이썬은 많은 사랑을 받는 유연하고 간결한 문법을 가진 프로그래밍 언어로 알려져 있습니다. 그의 기여로 많은 사람들이 파이썬을 사용하여 다양한 소프트웨어 및 웹 애플리케이션을 개발하고 있습니다.
cpython
python enhancement proposals에 만들어진 의미들 설명 읽어보기

#튜플

* 순서가 있는 자료형입니다.(인덱싱, 슬라이싱)
* 참조변경 불가입니다.(이 변경이 불가하다고 얘기하면 이것은 틀린 얘기입니다.)
* 순회 가능한(iterable) 개체

In [ ]:
t = (10, 20, 30)
dir(t)   #'count',  'index'

In [14]:
a = [10, 20, 30]
b= (a, 100, 200)
b

([10, 20, 30], 100, 200)

In [15]:
a[0] = 1000
b

([1000, 20, 30], 100, 200)

In [20]:
t.count(10) #10의 개수를 반환
t.index(10) #10의 위치를 반환

0

#딕셔너리
* 3.6버전 이상은 순서가 보장됩니다. 실무는 낮은 버전
* key: value 쌍으로 이뤄져 있다.
*딕셔너리 데이터 검색은 매우 빠릅니다.
*딕셔너리 사용은 주의를 요합니다, 딕셔너리는 key가 없는 것을 호출하면 error가 납니다.

In [21]:
d = {'one': '하나', 'two': '둘'}
d['one']

'하나'

In [ ]:
dir(d)
'''
# 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values
 '''

In [23]:
#d.get['three'] #error
d.get('three','없는 값입니다')

'없는 값입니다'

In [25]:
def f(x):
    return{
          0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
        }.get(x, '요일없음')

f(3)

'수요일'

In [27]:
x = 3
y = {
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}
y.get(x, '요일없음')

'수요일'

In [ ]:
실제로 이와 같은 key:value의 쌍을 게시물 저장하는 형태등으로 사용합니다.
게시물1 = {
      'title': '파이썬이 이렇게 어려울 줄이야',
      'contents': '파이썬을 깊게 알아갈 수록 너무 재밌네요. 신기합니다!',
      'author': '이호준'
      'image': 'hojun/2024/1/5/python.jpg'
}

In [32]:
d = {'one': '하나', 'two': '둘'}
dd = d   #변경됨

id(dd), id(d)
dd is d
d['one' ] = 'python'
d['two'] = 'html'
dd

{'one': 'python', 'two': 'html'}

In [33]:
d = {'one': '하나', 'two': '둘'}
dd = d.copy()  #변경안됨

id(dd), id(d)
dd is d
d['one' ] = 'python'
d['two'] = 'html'
dd

{'one': '하나', 'two': '둘'}

In [ ]:
d = ('one', 'two', 'three')
dict.fromkeys(d)
dict.fromkeys(d, 'hello world')

In [36]:
d = {'one': '하나', 'two': '둘'}
d.get('one')
d.get('three','값 없음!')

'값 없음!'

In [38]:
d = {'one': '하나', 'two': '둘'}
d.items()   #d.items()[0] error, 인덱스 슬라이싱 안됨

dict_items([('one', '하나'), ('two', '둘')])

In [40]:
a, b = d.items() #언패킹
a
b

('one', '하나')

In [ ]:
a, b = [10, 20]
a

In [41]:
for i, j in d.items():
    print(i,j)

one 하나
two 둘

In [42]:
d. keys()

dict_keys(['one', 'two'])

In [43]:
d. values()

dict_values(['하나', '둘'])

In [45]:
d = {'one': '하나', 'two': '둘'}
d.setdefault('one')
d.setdefault('three')
d.setdefault('four',4) #있으면 그 값을 출력하고, 없으면 그 값을 d에 삽입하고 4를 출력해

4

In [46]:
d = {'one': '하나', 'two': '둘'}
d.pop('one')  #d.pop(), d.pop('three')는 error
d

{'two': '둘'}

In [47]:
d = {'one': '하나', 'two': '둘'}
d.popitem()

('two', '둘')

In [48]:
d = {'one': '하나', 'two': '둘'}
d.update({'one': 'python', 'three': 'hello'})  #one은 수정되고 three는 생성됨
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [53]:
#새로 생긴 문법

d = {'one': '하나', 'two': '둘'}
dd = {'three': '셋'}
d | dd

{'one': '하나', 'two': '둘', 'three': '셋'}

In [54]:
d = {'one': '하나', 'two': '둘'}
dd = {'one': 'python', 'three': '셋'} #수정되고 추가됨
d | dd

{'one': 'python', 'two': '둘', 'three': '셋'}

#셋
* 중복을 허락하지 않는 자료형입니다.
* 순서가 없는 자료형입니다.
* 집합(합집합 교집합)

In [57]:
s = {1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}
s|ss #합
s-ss #차
s&ss #교

{3, 4, 5}

In [58]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [ ]:
type(s), dir(s)

In [60]:
s.difference(ss)

{1, 2, 10}

In [61]:
s.intersection(ss)

{3, 4, 5}

In [62]:
s.union(ss)

{1, 2, 3, 4, 5, 6, 7, 10}

In [67]:
sum(map(int,set('123123123'))) #중복 원소를 제거하고 더해라  map(int,set('123123123')) ->{1,2,3}

6

In [70]:
sum({10, 20, 30})
#sum(10, 20, 30)
sum([[10, 20], [30, 40], [50, 60]],[])
#[] + [10, 20] == [10, 20]
# [10, 20]+ [30, 40] == [10, 20, 30, 40]

[10, 20, 30, 40, 50, 60]

In [71]:
sum(sum([[10, 20], [30, 40], [50, 60]],[]))

210

# in

In [1]:
'h' in 'hello'

True

In [3]:
x= 10
x in [10, 20, 30, 40, 50]

True

In [4]:
x = [10, 20, 30]
x in [[10, 20, 40], [10, 20, 30], [50, 40, 20]]

True

In [5]:
s = {1, 2, 3}
1 not in s

False

In [7]:
1 and 100

100

In [8]:
user_id = 'leehojun'

user_id = user_id or '아이디없음'
user_id

'leehojun'

In [ ]:
false and 1/0 # false and 뒤에는 안봄 error여도 상관없다