1교시

In [1]:
print("hello world")

hello world

In [ ]:
# 1.구글 코랩 기초 사용법

1.ctrl+Ent

2.art+ent

3. ctrl+M A 셀 추가 위에
4. ctrl+M B 아래
5. ctrl+ M D 지우기
6. ctrl+ M Y 코드 셀로 변경
7. ctrl+MM 마크다운 셀로 변경
8. ctrl+ M Z 실행취

3.수정 관련된 단축키
  1.Ctrl(Command) + Alt(Option) + 화살표위아래 : 동시 수정
    자주 쓰는 예시 필요
    (자주) Ctrl(Command) + D : 같은 단어 찾아 동시 수정
    Ctrl(Command) + Shift + L : 동일 단어를 전체로 찾아 동시 수정
    Alt(Option) + Shift + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    Alt(Option) + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    (자주) Ctrl(Command) + Alt(Option) + 화살표위아래 : 위아래 동시 수정
    (자주) Home, End : 문장의 양 끝
    (필수) Ctrl + / : 주석
    (필수) Shift(cmd) + Del : 한 줄 지우기
    (필수) Tab, Ctrl + ] : 들여쓰기
    (필수) Shift + Tab, Ctrl + [ : 내어쓰기

In [3]:
print("hello")

hello

In [4]:
print("모두연")

모두연

In [5]:
print("a")

a

In [ ]:
#데이터셋 불러오기
import pandas as pd
data = pd.read_csv("example_dataset.csv")

#각 컬럼에 대한 평균 계산
mean_age = data['age'].mean()
mean_height = data['height'].mean()
mean_weight = data['weight'].mean()

print("Average Age:", mean_age)
print("Average Height:", mean_height)
print("Average Weight:", mean_weight)

In [ ]:

#데이터셋 불러오기
import pandas as pd
data = pd.read_csv("example_dataset.csv")

#각 컬럼에 대한 평균 계산
mean_age_years = data['age_years'].mean()
mean_height_cm = data['height_cm'].mean()
mean_weight_kg = data['weight_kg'].mean()

print("Average Age in Years:", mean_age_years)
print("Average Height in cm:", mean_height_cm)
print("Average Weight in kg:", mean_weight_kg)

2교시

# 4. 마크다운
## 4.1 헤더
### 4.1.1 사용법
제목을 입력하는 기능

## 4.2 강조
*강조*
**강조**

## 4.3 목록
순서가 있는 경우
1.
2.
3.

순서가 없는 경우
* 1
* 2

## 4.4 링크
 "["이름"]"("링크주소")"
[pyalgo](https://pyalgo.co.kr/)

# 4.5 이미지
"!["텍스트"]""(이미지")"
![윈도우](https://post-phinf.pstatic.net/MjAyMzA1MjRfMjcz/MDAxNjg0ODg1Njc3NDU5.fiZDmR2r02u80fINSYTCgBzpWhhymp4Nb3efF14ewpUg.IFvR4JWu2nygYaLYEo7Dqytr_vpa1fhnhpywmRWJarEg.JPEG/%EC%9C%88%EB%8F%84%EC%9A%B0_11%2C_%EC%9C%88%EB%8F%84%EC%9A%B0_11_%EC%84%A4%EC%A0%95%2C_%EC%9C%88%EB%8F%84%EC%9A%B0_11_%EC%8B%9C%EC%9E%91%EB%A9%94%EB%89%B4%2C_%EC%9C%88%EB%8F%84%EC%9A%B0_11_%EB%B8%94%EB%A3%A8%EB%9D%BC%EC%9D%B4%ED%8A%B8_1.jpg?type=w1200)

# 4.6
텍스트-> 코드 바꿔주는 인라인코드 `탭위의 거꾸로 된 따옴표 백틱 사용
`print("hello")`
코드블록 ```  ```사용

# 4.7 기타
*취소선 ~~취소선~~
*인용문
>
>>
*구분
---
***

#  1. **주석**
##1.1 한줄주석

In [2]:
#이것은 주석입니다.
print('hello, world 1!') #이것도 주석입니다.
print('hello, world 2!')

hello, world 1!
hello, world 2!

1.2 여러 줄 주석

In [4]:
'''
print('hello, world 1!')
print('hello, world 2!')
'''
print('real hello world ') # 코드옆에 설명 주석은 '''은 안됨

real hello world

#1. 입력input
## 1-1

In [5]:
input('입력해주세요') #이상한 값이 나올수 있음

입력해주세요10

'10'

In [6]:
int(input('입력해주세요'))

입력해주세요10

10

1.2 실습

In [ ]:
name = input("이름을 입력해주세요")

In [ ]:
print("Hello," +name +"!"")

In [7]:
#input을 활용한 덧셈 - 문자열인 경우
a = input("첫번째 숫자를 입력해주세요")
b = input("첫번째 숫자를 입력해주세요")

print("a + b =", a+b, "입니다.") # 잘못된 값 output

첫번째 숫자를 입력해주세요3
첫번째 숫자를 입력해주세요5
a + b = 35 입니다.

In [8]:
#input을 활용한 덧셈 - 문자열인 경우
a = int( input("첫번째 숫자를 입력해주세요"))
b = int(input("첫번째 숫자를 입력해주세요"))

print("a + b =", a+b, "입니다.")

첫번째 숫자를 입력해주세요3
첫번째 숫자를 입력해주세요5
a + b = 8 입니다.

#2. 출력함수

In [11]:
#2.1 여러줄출력
'출력합니다1'
'출력합니다2' #마지막줄만

'출력합니다2'

In [9]:
print('출력합니다')

출력합니다

In [10]:
# 2.2 여러값 출력
print("hello","world","!")

hello world !

In [12]:
# 2.3 sep구분자/end 구분자
print("010","0000","0000",sep="-",end=".")

010-0000-0000.

# 4. f-string

In [13]:
# 4. f-string
# 4.1 f-string에서 f가 없을때
name = 'licat'
age = 10
print('제 이름은 {name}, 제 나이는 {age}입니다.')

제 이름은 {name}, 제 나이는 {age}입니다.

In [ ]:
# 4.2 f-string에서 중괄호가 없을때
name = 'licat'
age = 10
print(f'제 이름은 name, 제 나이는 age 입니다.')

In [14]:
#4.3
name = 'licat'
age = 10
print(f'제 이름은 {name}, 제 나이는 {age}입니다.') #f 와 중괄호 사용

제 이름은 licat, 제 나이는 10입니다.

In [ ]:
# 4.4 예시
name = input("이름을 입력해주세요")
age = int(input("나이를 입력해주세요"))

print(f'제 이름은 {name}, 제 나이는 {age} 입니다.')